{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = image.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ image.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block content %}
    <div
            class="page-container image-container"
            data-image="{{ image | json_encode | raw | escape }}"
            data-resource-node="{{ _resource | get_serialized_node | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    <script>
        function RunPrefixMethod(obj, method)
        {
            var pfx = ["webkit", "moz", "ms", "o", ""];
            var p = 0, m, t;

            while (p < pfx.length && !obj[m]) {
                m = method;
                if (pfx[p] == "") {
                    m = m.substr(0,1).toLowerCase() + m.substr(1);
                }
                m = pfx[p] + m;
                t = typeof obj[m];
                if (t != "undefined") {
                    pfx = [pfx[p]];
                    return (t == "function" ? obj[m]() : obj[m]);
                }
                p++;
            }
        }

        function enterFullscreen(element) {

            if (RunPrefixMethod(document, "FullScreen") || RunPrefixMethod(document, "IsFullScreen")) {
                RunPrefixMethod(document, "CancelFullScreen");
            }
            else
            {
                RunPrefixMethod(element, "RequestFullScreen");
            }
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolineimageplayer/css/images.css') }}'/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-image-player-image.js') }}"></script>
    <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-main-core-copy-text-to-clipboard.js') }}" ></script>
    <script>
        document.querySelector('a#copy-permalink-to-clipboard').addEventListener('click', function(event) {
            event.preventDefault();
            copyTextToClipboard('http://' + window.location.hostname + $(this).attr('href'));
        });
    </script>
{% endblock %}