{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'portal' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'portal'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="page-container">
        <main class="page">
            <header class="page-header">
                <h1>
                    {{ 'parameters'|trans({}, 'platform') }}
                    <small>{{ 'portal'|trans({}, 'platform') }}</small>
                </h1>
            </header>

            <form role="form" class="page-content" action="{{path('claro_admin_portal_parameters')}}" method="post">
                <div class="panel panel-default">
                    {{ macros.flashBox() }}

                    <div class="panel-body">
                        {{ form_errors(form) }}
                        {{ form_row(form.portalResources) }}
                        {{ form_rest(form) }}
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        {{ 'save'|trans({}, 'platform') }}
                    </button>

                    <a class="btn btn-default" href="{{ path('claro_admin_index') }}">
                        {{ 'cancel'|trans({}, 'platform') }}
                    </a>
                </div>
            </form>
        </main>
    </div>
{% endblock %}
